[submodule "cpu/src/lib/UGUI"]
	path = cpu/lib/UGUI
	url = ../UGUI.git
[submodule "dsp/src/lib/aleph-dsp"]
	path = dsp/lib/aleph-dsp
	url = ../aleph-dsp.git
[submodule "cpu/lib/LEAF"]
	path = cpu/lib/LEAF
	url = ../LEAF.git
