[submodule "cpu/lib/am1802-csl"]
	path = cpu/lib/am1802-csl
	url = https://github.com/bangcorrupt/am1802-csl.git
[submodule "cpu/src/lib/UGUI"]
	path = cpu/lib/UGUI
	url = https://github.com/bangcorrupt/UGUI.git
[submodule "dsp/src/lib/aleph-dsp"]
	path = dsp/lib/aleph-dsp
	url = https://github.com/bangcorrupt/aleph-dsp.git
[submodule "cpu/lib/LEAF"]
	path = cpu/lib/LEAF
	url = https://github.com/bangcorrupt/LEAF.git
